{deps, [
        {gun, {git, "git://github.com/ninenines/gun.git", {branch, "master"}}}
       ]}.
{erl_opts, [export_all]}.

{relx, [{release, {"udpws", "0.0.1"},
         [udpws]},
         {include_erts, "/home/efrgarn/gateway/otp"},
{system_libs, "/home/efrgarn/gateway/otp"},
        {extended_start_script, true}]}.
